<!DOCTYPE html>
<html>
<header>
    <title>Ejs gyakorlás</title>
</header>

<body>
    <Table>
        <tr>
            <th>Név</th>
            <th>Nem</th>
            <th>Születési dátum</th>
            <th>Egyenleg</th>
            <th>Aktivitás</th>
        </tr>
        <tr>
            <td>
                <%= ember1.name %>
            </td>
            <td>
                <%= ember1.nem %>
            </td>
            <td>
                <%= ember1.dateOfBirth %>
            </td>
            <td>
                    <%= ember1.balance %>
            </td>
            <td>
                <%= ember1.activity %>
            </td>
        </tr>
        <tr>
            <td>
                <%= ember2.name %>
            </td>
            <td>
                <%= ember2.nem %>
            </td>
            <td>
                <%= ember2.dateOfBirth %>
            </td>
            <td>
                <%= ember2.balance %>
            </td>
            <td>
                <%= ember2.activity %>
            </td>
        </tr>
        <tr>
            <td>
                <%= ember3.name %>
            </td>
            <td>
                <%= ember3.nem %>
            </td>
            <td>
                <%= ember3.dateOfBirth %>
            </td>
            <td>
                <%= ember3.balance %>
            </td>
            <td>
                <%= ember3.activity %>
            </td>
        </tr>
        <tr>
            <td>
                <%= ember4.name %>
            </td>
            <td>
                <%= ember4.nem %>
            </td>
            <td>
                <%= ember4.dateOfBirth %>
            </td>
            <td>
                <%= ember4.balance %>
            </td>
            <td>
                <%= ember4.activity %>
            </td>
        </tr>
        <tr>
            <td>
                <%= ember5.name %>
            </td>
            <td>
                <%= ember5.nem %>
            </td>
            <td>
                <%= ember5.dateOfBirth %>
            </td>
            <td>
                <%= ember5.balance %>
            </td>
            <td>
                <%= ember5.activity %>
            </td>
        </tr>
        <tr>
            <td>
                <%= ember6.name %>
            </td>
            <td>
                <%= ember6.nem %>
            </td>
            <td>
                <%= ember6.dateOfBirth %>
            </td>
            <td>
                <%= ember6.balance %>
            </td>
            <td>
                <%= ember6.activity %>
            </td>
        </tr>
    </Table>
</body>

</html>